<!DOCTYPE html>
<html>
	<head>
		<title>Jet Fighter Takeoff Calculator</title>
	    <link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<h1>Takeoff Distance and Time Calculator</h1>
		<form action="/calculate" method="post">
		  <label for="mass">Mass of the Jet Fighter (in kg):</label>
		  <input type="text" id="mass" name="mass">
		  <br><br>
		  <input type="submit" value="Submit">
		</form>
	</body>
</html>
